.mainc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      rgb(0, 157, 140) 0%,
      rgba(0, 155, 155) 35%,
      rgba(26, 99, 109) 100%
    );
    min-height: 100vh;
    background-image: url("../../imagenes/wave_mask.png");
    background-position: right top;
    background-repeat: no-repeat;
   
  }
  
  *
  {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .containerC{
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0;
    gap: 100px;
  }
  
  .containerC .drop{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.5),
    25px 35px 20px rgba(0,0,0,0.5),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition:0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .containerC .drop:nth-child(1){
    border-radius: 61% 39%  52% 48% / 44% 59% 41% 56%;
  }
  
  .containerC .drop:nth-child(2){
    border-radius: 35% 65%  31% 69%/ 57% 59% 41% 43%;
  }
  
  .containerC .drop:hover{
    border-radius: 50%;
  }
  
  .containerC::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #ffff;
    border-radius: 50%;
    opacity:0.9;
  }
  
  .containerC::after{
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #ffff;
    border-radius: 50%;
    opacity:0.9;
  }
  
  .containerC .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
  }
  
  .containerC .drop .content{
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1);
    inset: -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.5),
    15px 10px 15px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titleC {
    padding-left: 700px;
    font-size: 60px;
    position: relative;
  }
  
  .textC{
    position: relative;
    font-size: 1.5rem;
    padding-right: 850px;
  }
  
  .instalogo{
    width: 70px;
    height: 70px;
  }
  
  .arrobalogo{
    width: 70px;
    height: 70px;
  }