nav {
  height: 5rem;
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 8rem;
}

.nav_links {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav_links a:hover {
  color: var(--menta);
}

.donate_btn {
  color: white;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: solid 2px;
  border-radius: 6px;
  font-size: 1rem;
}

.donate_btn:hover {
  scale: 1.05;
  background: var(--menta);
  border: none;
  color: var(--azul-oscuro);
}
