nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* changes position to fixed */
    width: 100%;
    top: 0;
    left: 0; /* adds left property */
    z-index: 999; /* increases z-index to ensure navbar is on top */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 5em;
    background-color: var(--mid_dark_tecxotic);

  }
  
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  
  .nav-links .Indicators-List {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    list-style: none;
  }

  
  .nav-links .Indicators-List li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  
  .nav-links .Indicators-List li img {
    width: 10em;
    height: 10em;
    margin: 0 5em;
}

.nav-links .Indicators-List .SpeedContainer{
  font-size: 0.8rem;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
}


nav button{
  background-color: var(--aqua_tecxotic);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  margin-right: 5%;
  border-radius: 5px;
}

nav button:hover{
  cursor: pointer;
}